@model AddLinkViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="mt-5"></div>
    <form asp-action="Create" method="post" role="form">
        <div class="row">
            <div class="form-group col-12">
                <label asp-for="Text" class="text-warning"><b>Orginal Link</b></label>
                <input type="text" asp-for="Text" placeholder="https://www.google.com/account/profile/user/126578965472" class="form-control text-left">
                <span asp-validation-for="Text" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-12 text-right">
            <div class="form-group mb-none">
                <button type="submit" class="btn btn-success">Send Request</button>
            </div>
        </div>
    </form>
    <div class="row">
        @if (TempData["ShortLink"] != null)
        {
            <span>آدرس کوتاه شده :</span><a href="https://localhost:44395/q/@TempData["ShortLink"].ToString()" target="_blank">https://localhost:44395/q/@TempData["ShortLink"].ToString()</a>
        }
    </div>
</div>